# Java / Maven
target/
*.class
*.jar

# IntelliJ
.idea/
*.iml
out/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Drivers
drivers/
chromedriver.exe

# Reports
target/json/
target/junit/
